/* #primary-menu ul li:last-child {
    background-color: #1A459D;
    color:white;
    padding:5px 10px;
} */

.hero-height {
    height:80vh;
   
    
}

.login {
    max-width:500px;
    margin:auto;
}

.post-section {
    display: none; /* Hide all sections by default */
}

.post-section.active {
    display: block; /* Show only the active section */
}

.post-section.active p {
    font-weight:bold; /* Show only the active section */
}

.hidden {
    display: none; /* Utility class for hiding elements */
}

.title.active {
    font-weight:bold;
}


form .input-group input::placeholder {
   
}

#login-menu .sub-menu {
    display:none;
    position: absolute;
    background-color: white;
    padding:10px;
}

#login-menu:hover .sub-menu {
    display:block;
}